@{
    ViewBag.Title = IdentityTexts.Backend_Identity_DeviceAuthorized_Title;
}

<div class="row justify-content-center">
    <div class="col-auto text-center">
        <h1>@IdentityTexts.Backend_Identity_Device_Success_Header</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-auto text-center">
        <p>@IdentityTexts.Backend_Identity_Device_Success_Message</p>
    </div>
</div>