
$octo-primary: #4d9685;
$octo-secondary: #9DB4B7;
$octo-background: #121721;
$octo-on-primary: #000000;
$octo-on-secondary: #000000;
$octo-surface: #17222b;
$octo-error: #CF6679;

@use '@material/theme' with (
  $primary: $octo-primary,  
  $secondary: $octo-secondary, 
  $background: $octo-background,  
  $on-primary: $octo-on-primary,  
  $on-secondary: $octo-on-secondary,  
  $surface: $octo-surface,  
  $error: $octo-error, 
);

@use '@material/button/mdc-button';
@use '@material/button';
@use '@material/checkbox';
@use '@material/form-field';
@use '@material/card';
@use '@material/floating-label/mdc-floating-label';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/textfield';


html body {
  font-family: Roboto, sans-serif;
  background-color: $octo-background !important;
  --bs-heading-color: white;
  --bs-body-color: white;
  //--bs-nav-link-color:$octo-primary !important;
  --bs-link-color: #{$octo-primary};
  --bs-link-hover-color: #{$octo-secondary};
  --bs-dropdown-bg:#{$octo-background};
  --bs-dropdown-link-color: #{$octo-primary};
  --bs-body-bg: #{$octo-background};
  --octo-primary-color: #{$octo-primary};
  --octo-secondary-color: #{$octo-secondary};
  --octo-background-color:#{$octo-background};
}

//.dropdown-menu {
//  --bs-nav-link-color: #{$octo-primary};
//  --bs-dropdown-bg: #{$octo-background};
//  --bs-dropdown-link-color: #{$octo-primary};
//}

// Apply core styles for each component
@include card.core-styles;
@include checkbox.core-styles;
@include form-field.core-styles;
@include textfield.core-styles;

// Additional styling for dark theme specific overrides if necessary
//@include theme.theme-styles;  // Ensuring dark theme is applied across all components