@use "@material/theme" with (
  $primary: #3f51b5,
  $secondary: #ff4081,
  $background: #000,
);
@use '@material/button/mdc-button';
@use '@material/button';
@use "@material/checkbox";
@use "@material/form-field";
@use "@material/card";
@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@include card.core-styles;
@include checkbox.core-styles;
@include form-field.core-styles;
@include textfield.core-styles;


