/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* ---------------------------------- */
/*       Custom styles for OEMs       */
/* ---------------------------------- */
html {
    --octo-primary-color: #3f51b5;
    --octo-secondary-color: #ff4081;
    --octo-background-color: #000;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.octo-card-content {
    padding: 16px;
}


.octo-input-group {
    padding-bottom: 10px;
}

.octo-label {
    color: black;
}

.octo-login-input {
    width: 100%;
}

.sg-validation-error {
    color: red;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

/* Sticky footer styles
-------------------------------------------------- */

body {
    /* Margin bottom by footer height */
    padding-bottom: 60px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    background: white;
    line-height: 60px; /* Vertically center the text there */
}

.main {

}

.octo-navbar {
    background-color: var(--octo-primary-color);
}