[submodule "src/octo-common-services"]
	path = src/octo-common-services
	url = https://github.com/meshmakers/octo-common-services.git
[submodule "src/octo-core"]
	path = src/octo-core
	url = https://github.com/meshmakers/octo-core.git
