<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - @OemOptions.Value.ApplicationName
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>