@using Meshmakers.Octo.Backend.IdentityServices.Services
@inject IOemService OemService;
<!DOCTYPE html>
<html lang="en">
<link rel="icon" type="image/x-icon" href="@OemService.Favicon">
<partial name="_LayoutHead"/>

<body>
<partial name="_Navigation"/>

<main role="main" class="m-2">
    <div class="container-fluid">
        @RenderBody()
    </div>
</main>

<partial name="_LayoutFooter"/>

@await RenderSectionAsync("Scripts", false)
</body>
</html>