@using Meshmakers.Octo.Backend.IdentityServices.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IOemService OemService;
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - @OemOptions.Value.ApplicationName</title>

    <link href="@OemService.StyleBundle" rel="stylesheet" asp-append-version="true"/>
    <script src="@OemService.JsBundle" asp-append-version="true" async></script>
</head>