@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger" role="alert">
        <strong>@IdentityTexts.Backend_General_Validation_Title</strong>
        <div asp-validation-summary="ModelOnly"></div>
    </div>
}