@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Account.RedirectViewModel

<h1>@IdentityTexts.Backend_Identity_Navigation_Redirect_Header</h1>
<p>@IdentityTexts.Backend_Identity_Navigation_Redirect_Description</p>

<meta http-equiv="refresh" content="0;url=@Model.RedirectUrl" data-url="@Model.RedirectUrl">
<script src="~/js/signin-redirect.js"></script>