@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Shared.SuccessViewModel
@inject IOptions<OemOptions> OemOptions;
@{
    ViewBag.Title = Model.Operation;
    Layout = OemOptions.Value.HideNavigation ? "_LayoutNoNavigation" : "_Layout";
}


<div class="row justify-content-center">
    <div class="mdc-card col-sm-4">
        <div class=" octo-card-content">

            <div class="octo-card__primary">
                <h1 class="octo-card__title mdc-typography mdc-typography--headline1">@Model.Operation</h1>
            </div>

            <div class="mdc-card__content">
                <p>@Model.Text</p>
                @if (!string.IsNullOrWhiteSpace(Model.NextStepLink))
                {
                    <p>@IdentityTexts.Backend_Identity_Success_Redirected_Soon_Message</p>
                    <a class="nav-link redirect-url" style="display: none" href="@Model.NextStepLink"></a>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @if (!string.IsNullOrWhiteSpace(Model.NextStepLink))
    {
        <script src="~/js/redirect.js"></script>
    }
}