@model Meshmakers.Octo.Backend.IdentityServices.ViewModels.Account.LoginViewModel
@inject IOptions<OemOptions> OemOptions;

@{
    ViewBag.Title = IdentityTexts.Backend_Identity_Forgot_Password_Title;
    Layout = OemOptions.Value.HideNavigation ? "_LayoutNoNavigation" : "_Layout";
    ;
}

<div class="row justify-content-center">
    <div class="col-auto text-center">
        <h1>@IdentityTexts.Backend_Identity_Forgot_Password_Title</h1>
    </div>
</div>

<partial name="_ValidationSummary"/>

<div class="row justify-content-center">

    <div class="col-sm-4">
        <form asp-route="Login">
            <input type="hidden" asp-for="ReturnUrl"/>

            <div class="mdc-card">
                <div class=" octo-card-content">

                    <div class="octo-card__primary">
                        <h5 class="octo-card__title mdc-typography mdc-typography--headline5">@IdentityTexts.Backend_Identity_Forgot_Password_Enter_Email</h5>
                    </div>

                    <div class="mdc-card__content">
                        <fieldset>
                            <div class="form-group octo-input-group">
                                <label class="mdc-text-field octo-login-input mdc-text-field--outlined">
                                    <span class="mdc-notched-outline">
                                        <span class="mdc-notched-outline__leading"></span>
                                        <span class="mdc-notched-outline__notch">
                                            <span class="mdc-floating-label" id="username">@IdentityTexts.Backend_Identity_Login_Email_Label</span>
                                        </span>
                                        <span class="mdc-notched-outline__trailing"></span>
                                    </span>
                                    <input type="text" class="mdc-text-field__input" name="username" id="username" aria-labelledby="username">
                                </label>
                                <span asp-validation-for="Username" class="octo-validation-error"></span>
                            </div>

                        </fieldset>
                    </div>

                    <div class="mdc-card__actions">

                        <button class="mdc-button mdc-button--raised mdc-button mdc-card__action mdc-card__action--button" name="button" type="submit" value="login">
                            @IdentityTexts.Backend_General_Submit_Button
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>