{
  "google": {
    "clientId": "<client-id>.apps.googleusercontent.com",
    "clientSecret": "<client-secret>"
  },
  "microsoft": {
    "clientId": "<application-client-id>",
    "clientSecret": "<client-secret>"
  },
  "entra": {
    "tenantId": "<directory-tenant-id>",
    "clientId": "<application-client-id>",
    "clientSecret": "<client-secret>"
  },
  "facebook": {
    "appId": "<app-id>",
    "appSecret": "<app-secret>"
  }
}
